@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: "Noto Serif";
  src: url(../fonts/NotoSerif-Regular.ttf);
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  min-height: 100vh;
}
nav {
  padding: 25px 0 20px 0;
  text-align: center;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

.nav__left li {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.nav__left li a {
  color: #ffffff;
}

.nav-logo {
  max-width: 216px;
}

.nav__right li {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.nav__right li a {
  color: #ffffff;
}

.searchbtn {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

li {
  margin-bottom: 10px;
}

.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: whitesmoke;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
}

.nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}

#myVideo {
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -40;
}

.hero {
  margin: 0 auto;
  margin-top: 400px;
}

.hero__btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px 35px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.5s ease;
}

.hero__btn:hover {
  background: rgba(0, 0, 0, 0.862);
}

.header-horizontal-line {
  margin: 0 auto;
  width: 100vw;
  height: 0;
  margin-top: 51px;
  border: 1px solid #ffffff;
}

.header-vertical-line {
  width: 60px;
  height: 0px;
  border: 1px solid #ffffff;
  transform: rotate(90deg);
}

.header__footer-logos {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 41px;
}

.header__footer__div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__footer-logos img {
  max-width: 160px;
  width: 100%;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.gallery-section {
  background: #f9f9f9;
  padding: 100px 0 120px 0;
}

.gallery__h2 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
  margin-bottom: 15px;
}

.gallery__h3 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
  margin-bottom: 60px;
}

.gallery__buttons {
  margin: 0 auto;
  margin-bottom: 55px;
}

.gallery__buttons__btn {
  cursor: pointer;
  margin-left: 18px;
  width: 165px;
  height: 55px;
  background: #f9f9f9;
  border: 1px solid #d6d6d6;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  transition: 0.5s ease-in-out;
  box-shadow: 5px 5px 0 0px #d6d6d6;
}

.gallery__buttons__btn:hover {
  background: #333333;
  color: #ffffff;
  box-shadow: 0 0 0 0px white;
}

.gallery__photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.img1 {
  cursor: pointer;
  position: relative;
  width: 50%;
}

.img1 img {
  display: block;
  max-width: 350px;
  height: auto;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.204);
  overflow: hidden;
  width: 350px;
  height: 0;
  transition: 0.5s ease;
}

.img1:hover .overlay1 {
  height: 100%;
}

.overlay1-text {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.advice-section {
  padding: 100px 0;
  background-image: url(../images/advice-bg.png);
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}

.advice {
  align-items: center;
}

.advice__h3 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.advice__h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  margin: 15px 0 45px 0;
}

.advice__text {
  max-width: 730px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #ffffff;
}

.advice__btn {
  display: block;
  cursor: pointer;
  background: #f9f9f9;
  padding: 15px 35px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #333333;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
}

.advice__btn:hover {
  border: 1px solid #f9f9f9;
  background: rgba(0, 0, 0, 0.204);
  color: #f9f9f9;
}

.articles-section {
  background: #f9f9f9;
  padding: 120px 0;
}

.articles {
  align-items: center;
}

.articles__h3 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}

.articles__h2 {
  margin: 15px 0 60px 0;
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
}

.img2 {
  cursor: pointer;
  position: relative;
  width: 50%;
  transition: 0.5s ease;
}

.img2 img {
  display: block;
  max-width: 350px;
  height: auto;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.204);
  overflow: hidden;
  width: 350px;
  height: 0;
  transition: 0.5s ease;
}

.img2:hover .overlay2 {
  height: 100%;
}

.overlay-text2 {
  width: 250px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-image2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.articles__btn {
  display: block;
  cursor: pointer;
  padding: 15px 35px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #333333;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.5s ease-in-out;
  margin: 0 auto;
}

.articles__btn:hover {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.social-section {
  padding-bottom: 150px;
  background: #f9f9f9;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social__h4 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  color: #333333;
}

.social__h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #333333;
  text-transform: capitalize;
  margin: 15px 0 60px 0;
}

.social-media_img {
  width: 277px;
  height: 300px;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.social-media-medias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0 auto;
}

.social__medias-inside2 {
  display: flex;
}

.reveal {
  position: relative;
  transform: translateY(40px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.subscribe-section {
  padding: 100px 0 125px 0;
  background-image: url(../images/advice-bg.png);
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}

.subscribe__h3 {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.subscribe__h2 {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;

  color: #ffffff;
  margin: 15px 0 60px 0;
}
.subscribe__email {
  display: flex;
  column-gap: 80px;
  align-items: center;
  justify-content: center;
}
.subscribe__icons__text {
  display: flex;
  column-gap: 20px;
  margin-bottom: 15px;
}
.subscribe__icons__text p {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;

  color: #ffffff;
}

.subscribe__email__email {
  width: 418px;
  height: 85px;
  padding: 20px 22px;
  background: #ffffff;

  box-shadow: 0px 0px 0 15px #ffffff43;
}

.subscribe__email__email form {
  display: flex;
  justify-content: space-between;
}

.subscribe__email__email form input {
  width: 200px;
  height: 45px;
  padding: 15px 0 14px 20px;
  background: #ffffff;

  border: 1px solid #d6d6d6;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline: none;
  color: rgba(51, 51, 51, 0.5);
}

.subscribe__email__email form button {
  width: 159px;
  height: 45px;

  background: #333333;

  border: 1px solid #ffffff;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
  cursor: pointer;
}

footer {
  padding: 80px 0 20px 0;
}

.footer__header {
  display: flex;
  justify-content: space-between;
}

.footer__header h2 {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #333333;
  margin-bottom: 10px;
  width: 200px;
}

.footer__header__line {
  max-width: 255px;
  height: 0px;
  margin-bottom: 30px;
}
.footer__header p {
  max-width: 255px;
  margin-bottom: 27px;
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #333333;
}
.footer__header__visa-svg a {
  margin-top: -7px;
  margin-right: 20px;
}
.footer__header__logos a img {
  margin-right: 15px;
}

.footer__header ul li a {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #333333;
}

.footer__contacts {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 15px;
}

.footer__contacts a {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #333333;
}
.demo3 {
  display: none;
}
@media screen and (max-width: 900px) {
  .container {
    margin: 0 auto;
    padding: 0;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .pc-bg-video {
    display: none;
  }
  .navbar {
    display: none;
  }
  .demo3 {
    width: 100vw;
    display: block;
  }
  #myVideo {
    margin-top: -1px;
    object-fit: cover;
  }
  .nav-logo {
    max-width: 116px;
  }
  .nav__right-div,
  .nav__left-div {
    display: none;
  }

  #mobile {
    height: 100vh;
    width: 100vw;
    background: #202324;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  #mobileBodyContent {
    position: relative;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  #image {
    width: 0px;
    height: 100vh;
    position: relative;
    object-fit: cover;
  }

  #burgerBtn {
    border-top: 2px solid white;
    height: 25px;
    width: 30px;
    box-sizing: border-box;
    position: absolute;
    z-index: 30;
    right: 20px;
    top: 15px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  #burgerBtn:before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    left: 0;
    background: white;
    top: 10px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  #burgerBtn:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    left: 0;
    background: white;
    bottom: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -khtml-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  #nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    list-style-type: none;
    margin: 100px 0 0 20px;
    padding: 0;
    overflow: hidden;
  }
  #nav li {
    height: 30px;
    width: 0;
    margin: 30px 30px;
    background: #eae8e5;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -khtml-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  }
  #nav li + li {
    margin-left: -50px;
  }
  #nav li + li + li {
    margin-left: -120px;
  }
  #nav li + li + li + li {
    margin-left: -140px;
  }
  .navigation {
    z-index: 15;
  }
  .navigation #nav li {
    width: 200px;
    margin-left: 40px;
  }
  .navigation #burgerBtn {
    border-color: transparent;
  }
  .navigation #burgerBtn:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 33px;
    left: -2px;
  }
  .navigation #burgerBtn:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -khtml-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 11px;
    width: 33px;
    left: -2px;
  }

  .demo3.navigation #mobileBodyContent {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -khtml-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
    visibility: hidden;
  }

  .menu-and-logo {
    padding: 14px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo {
    max-width: 139px;
  }

  nav {
    padding: 0px;
  }
  .header__footer-logos {
    display: none;
  }
  .hero {
    padding: 0 25px;
  }
  .hero__btn {
    position: absolute;
    z-index: 11;
    margin-top: -600px;
  }

  .gallery-section {
    margin-top: 850px;
  }
}
